.shop_room{
    height: 100%;
    width: 300px;
    position: absolute;
    right: 0px;
    background: blue;
    transition: all 0.1s;
    .back{
        background: red;
        right: 0px;
        position: absolute;
        bottom: 0px;
        color: #fff;
        padding: 0px 5px;
        line-height: 20px;
    }
    .posi_tion{
        float: left;
        width: 70px;
        height: 70px;
        margin: 1px 3px 1px 2px;
    }
}
.room_show{
    transform: translateX(0px);
}
.room_hide{
    transform: translateX(300px);
}