.BuffIon_box{
    height: 20px;
    width: 20px;
    float: left;
    background-size: 20px !important;
    position: relative;
    font-size: 12px;
    margin: 5px;
    .tooltip {
	    visibility: hidden;
	    width: 120px;
	    background-color: black;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
	    padding: 5px 0;

	    /* 定位 */
	    position: absolute;
	    z-index: 1;
    visibility: visible;
	}
}
.BuffIon_box:hover .tooltip{
}