.hero_place{
    height: 183px;
    background: #5fa1bf;
    div{
        float: left;
    }
    .hero_box{
        background: #64fff5;
        height: 100%;
        width: 100px;
        .hero_ion{
            width: 100%;
        }
        .attack_btn{
            text-align: center;
            background: red;
        }
        .over_btn{
            text-align: center;
            background: blue
        }
    }
    .attribute_list{//属性列表
        background: #64fff5;
        height: 100%;
        width: 130px;
        margin-left: 5px;
        .HP{
            width: 100%;
            background: #8bff04;
        }
        .MP{
            width: 100%;
            background: #6977ff;
        }
        .attack{
            width: 100%;
        }
        .armor{
            width: 100%;
        }
        .statelist{
            width: 100%;
        }
    }
    .card_list{//卡牌列表
        background: #64fff5;
        height: 100%;
        width: calc(100% - 350px);
        min-width: 400px;
        margin-left: 5px;
    }
    .equipment_list{//装备列表
        background: #64fff5;
        height: 100%;
        width: 105px;
        margin-left: 5px;
    }
}