.hero_place{
    height: 183px;
    background: #5fa1bf;
    .hero_box{
        float: left;
        background: #64fff5;
        height: 100%;
        width: 99px;
        .hero_ion{
            height: 100px;
        }
        .hero_ion_0{
            background: url(./0.png) no-repeat center;
        }
        .hero_ion_1{
            background: url(./1.png) no-repeat center;
        }
        .hero_ion_2{
            background: url(./2.png) no-repeat center;
        }
        .attack_btn{
            text-align: center;
            background: red;
        }
        .over_btn{
            text-align: center;
            background: blue
        }
    }
    .attribute_list{//属性列表
        background: #64fff5;
        height: 100%;
        width: 130px;
        margin-left: 5px;
        float: left;
        .HP{
            width: 100%;
            background: #8bff04;
        }
        .MP{
            width: 100%;
            background: #6977ff;
        }
        .attack{
            width: 100%;
        }
        .armor{
            width: 100%;
        }
        .statelist{
            width: 100%;
        }
    }
    .card_list{//卡牌列表
        float: left;
        background: #64fff5;
        height: 100%;
        width: calc(100% - 350px);
        min-width: 400px;
        margin-left: 5px;
        .card_box{
            float: left;
        }
    }

    .equipment_list{//装备列表
        background: #64fff5;
        height: 100%;
        width: 105px;
        margin-left: 5px;
        float: left;
        .posi_tion{
            float: left;
            width: 45px;
            height: 45px;
            margin: 1px 3px 1px 2px;
        }
    }
}