    .Tooltip {
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        font-size: 12px;
        position: absolute;
        z-index: 1;
        transform: translate(-100%, -100%);
        .redTitle{
            color: red;
            display: inline-block;
            margin: 0px 5px;
        }
    }
/*    .Tooltip:after{
        content: "";
        width:20px;
        height: 20px;
        background-color: black;
        transform:rotate(45deg);
        -ms-transform:rotate(45deg);  
        -moz-transform:rotate(45deg);  
        -webkit-transform:rotate(45deg); 
        -o-transform:rotate(45deg);  
        position: absolute;
        left: calc(50% - 9px);
        top: calc(100% - 17px);
        z-index: -1;
    }*/