.card_box{
    width: 100px;
    position: relative;
    font-size: 12px;
    height: 100%;
    color: #fff;
    transition: all 0.1s;
    cursor:pointer;
    background: url(./cardready.jpg) no-repeat center;
    background-size: 116% 113%;
    overflow: hidden;
    .card_mp{
        color: blue;
        float: left;
        margin: 4px;
        line-height: 12px;
    }
    .card_ion{
        background: green;
        width: 60px;
        height: 50px;
        margin: 10px 0px 0px 20px;
    }
    .card_name{
        text-align: center;
        width: 100%;
    }
    .card_message{
        text-align: left;
        margin: 0 7px;
    }
}
.card_my{
    transform:scale(0.9);/*0.9倍*/
    margin:0 -4px;
}
.card_my:hover{
    transform:scale(1);/*1倍*/
}
.card_box_hide{
    width: 100px;
    position: relative;
    font-size: 12px;
    height: 160px;
    transform:scale(0.9);/*0.9倍*/
    background: url(./cardhide.jpg) no-repeat center;
    background-size: 116% 113%;
    float: left;
}