.hero_place{
    height: 200px;
    min-width: 1155px;
    .hero_box{
        width: 99px;
        position: absolute;
        .hero_ion{
            height: 100px;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border: 0px solid burlywood;
            box-shadow: darkgrey 0px 0px 5px 5px;
            margin: 10px 5px 10px 10px;
            background-position: -14px !important;
        }
        .hero_ion_0{
            background: url(./0.jpg) no-repeat center;
        }
        .hero_ion_1{
            background: url(./1.jpg) no-repeat center;
        }
        .hero_ion_2{
            background: url(./2.jpg) no-repeat center;
        }
        .hero_ion_3{
            background: url(./3.jpg) no-repeat center;
        }
        .attack_btn{
            text-align: center;
            background: #c10000;
            border: 0px solid burlywood;
            box-shadow: darkgrey 0px 0px 5px 3px inset;
            border-radius: 5px;
            color: #fff;
            margin: 3px 5px 3px 10px;
            font-size: 12px;
            line-height: 22px;
        }
        .over_btn{
            text-align: center;
            background: #0e379e;
            border: 0px solid burlywood;
            box-shadow: darkgrey 0px 0px 5px 3px inset;
            border-radius: 5px;
            color: #fff;
            margin: 3px 5px 3px 10px;
            font-size: 12px;
            line-height: 22px;
        }
    }
    .attribute_list{/*属性列表*/
        height: 100%;
        width: 130px;
        position: absolute;
        left: 105px;
        color: #fff;
        div{
            border-radius: 3px;
        }
        .HP{
            transition: all 0.1s;
            background: #8bff04;
        }
        .MP{
            transition: all 0.1s;
            background: #6977ff;
        }
        .attack{
            width: 100%;
        }
        .armor{
            width: 100%;
        }
        .statelist{
            width: 100%;
            span{
                float:left
            }
        }
    }
    .card_list{//卡牌列表
        height: 100%;
        width: calc(100% - 350px);
        min-width: 400px;
        position: absolute;
        left: 240px;
        .card_box{
            float: left;
        }
    }

    .equipment_list{//装备列表
        height: 100%;
        width: 105px;
        position: absolute;
        right: 0px;
        color: #fff;
        .posi_tion{
            float: left;
            width: 45px;
            height: 45px;
            margin: 1px 3px 1px 2px;
        }
    }
}