.fight_place{
    height: calc(100% - 400px);
    min-height: 300px;
    position: relative;
    overflow: hidden;
    .fight_message{
        width: 250px;
        height: 100%;
        overflow: auto;
        border: 1px solid #666;
        position: absolute;
        color: #fff
    }
    .cardShow{
        width: 100px;
        height: 160px;
        position: absolute;
        left: calc(50% - 50px);
        top: calc(50% - 90px);
    }
    .cardShowList{    
        position: absolute;
        width: 102px;
        height: 100%;
        left: 250px;
        overflow: hidden;
    }
    .shop{
        width: 80px;
        height: 80px;
        background: url(./shopingroom.png) no-repeat center;
        background-size: contain;
        position: absolute;
        right: 10px;
        bottom: 10px;
        cursor:pointer
    }
}